[submodule "Skuld.Core"]
	path = Skuld.Core
	url = https://github.com/skuldbot/Skuld.Core
[submodule "Skuld.Models"]
	path = Skuld.Models
	url = https://github.com/skuldbot/Skuld.Models
[submodule "Skuld.Services"]
	path = Skuld.Services
	url = https://github.com/skuldbot/Skuld.Services.git
	branch = master
